@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutAnonymous";
}


<div class="text-center">
    
    <h1 class="display-4">Access denied</h1>
    <p>No has iniciado sesion aun.</p>
    <p><a asp-controller="Login" asp-action="Index">Volver al login</a></p>
</div>
