@model ForgotPasswordRequestViewModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_LayoutAnonymous";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        @{
            if (ViewBag.Message != null)
            {
                @if (ViewBag.Message is string)
                {
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                        <br/>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else
                {
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        @foreach (var line in ViewBag.Message)
                        {
                            <p class="text-center">@line</p>
                        }
                        <br/>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
        }
        <div class="card-header bg-success text-light"><h5 class="text-center">Forgot password</h5></div>
        <div class="card-body">
            <form asp-controller="Login" asp-action="ForgotPassword" method="POST">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">UserName:</label>
                    <input class="form-control" asp-for="UserName"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-primary float-end"><i class="bi bi-floppy2"></i> Save</button>
                    <a asp-controller="Login" asp-action="Index" class="btn btn-outline-warning float-end me-2"><i class="bi bi-arrow-left-short"></i> Back to login</a>
                </div>
            </form>
        </div>
    </div>
</div>
