@model ArtemisBanking.Core.Application.ViewModels.Login.LoginViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAnonymous";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
        @{
            if (ViewBag.Message != null)
            {
                @if (ViewBag.Message is string)
                {
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                        <br/>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else
                {
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        @foreach (var line in ViewBag.Message)
                        {
                            <p class="text-center">@line</p>
                        }
                        <br/>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
        }
        <div class="card shadow">
            <div class="card-header bg-primary text-light">
                <div class="text-center">
                    <h3 class="card-title">Artemis Net Banking</h3></div>

            </div>
            <div class="card-body">
                <form asp-controller="Login" asp-action="LogIn" method="post">
                    <div class="mt-2">
                        <label class="form-label" asp-for="UserName">Nombre de usuario:</label>
                        <input class="form-control" asp-for="UserName"/>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="mt-2">
                        <label class="form-label" asp-for="Password">Contraseña:</label>
                        <input type="password" class="form-control" asp-for="Password"/>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary w-75" type="submit">Iniciar sesión</button>
                    </div>
                </form>

                <div class="text-center mt-2">
                    <a asp-controller="Login" asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>