@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <a class="btn btn-success" asp-controller="HomeAdmin" asp-action="Users">Ir a los usuarios</a>
</div>